* {
    box-sizing: border-box;
}

.App {
    text-align: center;
    min-height: 100vh;
}

body {
    background-color: #F5F5F5
}

.text {
    padding: 25px 25px;
}

/* banner */
#banner {
    color: white;
    background-image: url("../src/resources/recycle.jpg");
    background-repeat: inherit;
    background-size: 100%;
}

#stat1 {
    width: 100%;
    height: 100%
}

#stat2, #stat3{
    width: 50%;
    height:350px;
}

#item1Paragraph {
    text-align: left;
    word-break:break-all;
    min-height: 400px;
    height: 100%
}

.item1 {
    height: 400px;
}

.recylcingInfo {
    text-align: left;
    min-height: 350px;
    height:100%;
}

/* button for recyclig guide */
.btnEffect {
    margin: 20px;
    padding: 10px 10px;
    border-color: #f1c40f;
    color: #1e1af1;
    background-color: #f1c40f;
    background-image: -webkit-linear-gradient(45deg, orange 50%, transparent 50%);
    background-image: linear-gradient(45deg, orange 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }

.btnEffect:hover {
    background-position: 0;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    /* color: light-blue; */
    padding: 35px 0;
    width: 100%;
    /* max-width: 500px; */
    z-index: 1;
    margin: 20px auto;
    /* align-self: center; */
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.cycleEconomyInfo {
    text-align: left;
    min-height: 350px;
    height:100%;
}
/* Blockquote header */
.blockquote h2 {
    position: relative;
    color: black;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

 /* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #292a2b;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}


@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    #bannerTitle {
        font-size: 3.5em;
    }
}

@media (min-width:411px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    #bannerTitle {
        font-size: 5em;
    }

    .contentOdd {
        margin-left: 50px;
    }
    
    .contentEven {
        margin-right: 50px;
    }
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 60px;
    }

    .contentOdd {
        margin-left: 50px;
    }
    
    .contentEven {
        margin-right: 50px;
    }
}

@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    #bannerTitle {
        font-size: 6em;
    }

    .contentOdd {
        margin-left: 50px;
    }
    
    .contentEven {
        margin-right: 50px;
    }
}

@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #bannerTitle {
        font-size: 7em;
    }

    .contentOdd {
        margin-left: 50px;
    }
    
    .contentEven {
        margin-right: 50px;
    }
}

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    #bannerTitle {
        font-size: 8em;
    }

    .contentOdd {
        margin-left: 50px;
    }
    
    .contentEven {
        margin-right: 50px;
    }
}

@media (min-width:1281px) { 
    /* hi-res laptops and desktops */
    #bannerTitle {
        font-size: 11em;
    }

    .contentOdd {
        margin-left: 50px;
    }
    
    .contentEven {
        margin-right: 50px;
    }
}